{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Dashboard</title>
    <style>
        .title {
    font-style: normal;
}
body {
    font-family: 'Arial', sans-serif;
    margin-left: 4;
    margin-top: 10px;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard-container {
    width: 30%;
    background-color: #b8deec;
    margin-top: 4%;
    padding: 2px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow:auto;
}

.graph-container {
    width: 70%;
    padding: 20px;
    border-radius: 8px;
    align-self: flex-start;
    background-color: #b8deec;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 15px;
    margin-top: 1%;
    overflow: hidden;
}

title, h1, h2, h3 {
    color: #333;
}

.current-situation {
    margin-top: 20px;
    font-weight: bold;
    font-style:italic;
}

.status {
    padding: 10px;
    background-color: #e74c3c;
    color: #fff;
    border-radius: 4px;
}

.topographic-info {
    margin-top: 20px;
    text-align:left;
}

.patient-picture {
    width: 150px;
    border-radius: 50%;
    margin-top: 2px;
}

.more-info-button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1%;
}

.more-info-content {
    margin-top: 1%;
}

.medical-summary {
    margin-top: 20px;
}

.medication-button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1%;
}

.graphs-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.graph-buttons {
    margin-top: 5px;
}

.graph-buttons button {
    margin-bottom: 10px;
    background-color: #3498db;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1%; 
}

.graph {
    width: 100%;
    align-items:self-end;
    box-sizing: border-box;
    display: none; 
}

.data-display {
    display: inline-block;
    width: calc(33.33% - 20px);
    margin-right: 20px;
    vertical-align: top;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
}

.data-display h2 {
    margin-top: 0;
    font-size: 20px;
    color: #555;
}

.data-value {
    font-size: 32px;
    font-weight: bold;
    color: #3498db;
}

.title {
    font-style: normal;
}
body {
    
    font-family: 'Arial', sans-serif;
    margin-left: 4;
    margin-top: 10px;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard-container {
    width: 30%;
    background-color: #b8deec;
    margin-top: 10%;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow:auto;
}

.graph-container {
    width: 70%;
    padding: 20px;
    border-radius: 8px;
    align-self: flex-start;
    background-color: #b8deec;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 15px;
    margin-top: 1%;
    overflow: hidden;
}

title, h1, h2, h3 {
    color: #333;
}

.current-situation {
    margin-top: 20px;
    font-weight: bold;
    font-style:italic;
}

.status {
    padding: 10px;
    background-color: #e74c3c;
    color: #fff;
    border-radius: 4px;
}

.topographic-info {
    margin-top: 20px;
    text-align:left;
}

.patient-picture {
    width: 150px;
    border-radius: 50%;
    margin-top: 2px;
}

.more-info-button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1%;
}

.more-info-content {
    margin-top: 1%;
}

.medical-summary {
    margin-top: 20px;
}

.medication-button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1%;
}

.graphs-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.graph-buttons {
    margin-top: 5px;
}

.graph-buttons button {
    margin-bottom: 10px;
    background-color: #3498db;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1%; 
}

.graph {
    width: 100%;
    align-items:self-end;
    box-sizing: border-box;
    display: none; 
}

.data-display {
    display: inline-block;
    width: calc(100% - 20px);
    margin-right: 20px;
    vertical-align: top;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
}

.data-display h2 {
    margin-top: 0;
    font-size: 20px;
    color: #555;
}

.data-value {
    font-size: 32px;
    font-weight: bold;
    color: #3498db;
}
    </style>
</head>

<body>
<div class="dashboard-container">
    <div class="current-situation">
        <div class="status" id="critical-condition"><strong>Current situation:</strong> Normal</div>
    </div>

    <div class="topographic-info">
        <h3>{{patient.patientName}}</h3>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTz4jsmFC2ruCfhisDX6ZdcN1j-NILa1kG89Vqe8YVN09pFQHD0IKBVfq0YlwmBfDW_46M&usqp=CAU" 
            alt="Patient's Picture" class="patient-picture">
        <ul class="info-list">
            <li><strong>Date of birth:</strong> 16.05.1980</li>
            <li><strong>Gender:</strong> {{ patient.patientSex }}</li>
            <li><strong>Insurance ID:</strong> 23456789</li>
        </ul>
        <button class="more-info-button" onclick="toggleMoreInfo()">More Information</button>
        <div class="more-info-content" id="moreInfoContent">
            <ul class="info-list">
                <li><strong>Address:</strong> Naleparstrasse 218, 12459, Berlin</li>
                <li><strong>Live Location:</strong> <a href="https://maps.app.goo.gl/hfSQpJptpQj7NS2N6" target="_blank">View on Map</a></li>
                <li><strong>Occupation:</strong> Site Engineer</li>
                <li><strong>Social Status:</strong> Married</li>
                <li><strong>Characters of medical importance:</strong> Smoking (3 cig/day for 5 years)</li>
            </ul>
        </div>
    </div>

    <div class="data-display">
        
        <div id="heart-rate-value"> <h2>Heart Rate</h2> {{ heart_rate }}</div>
        
        <div id="ecg-value"><h2>ECG</h2> {{ ecg_value }}</div>
        
        <div id="blood-pressure-value"> <h2>Blood Pressure</h2> {{ blood_pressure }}</div>
    </div>

    <div class="medical-summary">
        <h2>Medical Summary</h2>
        <ul class="info-list">
            <li><strong>Diagnosis:</strong> Atrial Fibrillation</li>
            <li><strong>Stage:</strong> Persistent</li>
            <li><strong>Comorbid Conditions:</strong> Diabetes Mellitus</li>
        </ul>
        <button class="medication-button" onclick="showCurrentMedications()">Current Medications</button>
        <div class="medications-content" id="currentMedicationsContent">
            <ul>
                <li>Rivaroxaban 15mg</li>
                <li>Amiodarone 400mg</li>
                <li>Metoprolol succinate 50mg</li>
            </ul>
        </div>
    </div>
</div>

<div class="graph-container">
    <div class="graph-buttons">
        <button onclick="showGraph('ecgGraph')">Show ECG Graph</button>
        <button onclick="showGraph('heartRateGraph')">Show Heart Rate Graph</button>
        <button onclick="showGraph('bloodPressureGraph')">Show Blood Pressure Graph</button>
    </div>
    <div class="graphs-wrapper">
        <div class="ecg-graph graph" id="ecgGraph">
            <iframe width="700" height="500" src="https://www.youtube-nocookie.com/embed/76sTN8wYXM4" allowfullscreen></iframe>
        </div>
        <div class="hr-graph graph" id="heartRateGraph">
            <img src="https://www.researchgate.net/profile/Stamatina_Anastopoulou/publication/228807776/figure/fig1/AS:393793066029060@1470898991201/An-example-graph-generated-from-the-heart-rate-monitor-on-the-tablet-computer.png" alt="Heart rate Graph">
        </div>
        <div class="bp-graph graph" id="bloodPressureGraph">
            <img src="https://www.researchgate.net/publication/342257273/figure/fig2/AS:905263498420241@1592843045817/Line-plot-showing-systolic-blood-pressure-change-over-time-in-185-people-who-had-at-least.jpg" alt="Blood Pressure Graph">
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    function toggleMoreInfo() {
        var moreInfoContent = document.getElementById("moreInfoContent");
        moreInfoContent.style.display = moreInfoContent.style.display === "none" ? "block" : "none";
    }

    function showCurrentMedications() {
        var currentMedicationsContent = document.getElementById("currentMedicationsContent");
        currentMedicationsContent.style.display = currentMedicationsContent.style.display === "none" ? "block" : "none";
    }

    function showGraph(graphId) {
        var allGraphs = document.querySelectorAll('.graph');
        allGraphs.forEach(function (graph) {
            graph.style.display = 'none';
        });

        var selectedGraph = document.getElementById(graphId);
        if (selectedGraph) {
            selectedGraph.style.display = 'block';
        }
    }

    function updateValues() {
        // Generate new random values (for demonstration purposes)
        var newHeartRate = Math.floor(Math.random() * (100 - 60 + 1)) + 60; // Random heart rate between 60 and 100
        var newECGValue = Math.floor(Math.random() * (150 - 50 + 1)) + 50;   // Random ECG value between 50 and 150
        var newBloodPressure = `${Math.floor(Math.random() * (140 - 90 + 1)) + 90}/${Math.floor(Math.random() * (90 - 60 + 1)) + 60}`; // Random blood pressure value

        var newSystolicPressure = Math.floor(Math.random() * (140 - 90 + 1)) + 90; // Random systolic blood pressure between 90 and 140
        var newDiastolicPressure = Math.floor(Math.random() * (90 - 60 + 1)) + 60; 

        // Update displayed values
        document.getElementById('heart-rate-value').innerHTML = '<h2>Heart Rate ' + newHeartRate + '</h2>';
        document.getElementById('ecg-value').innerHTML = '<h2>ECG ' + newECGValue + '</h2>';
        document.getElementById('blood-pressure-value').innerHTML = '<h2>Blood Pressure ' + newDiastolicPressure + "/" + newSystolicPressure + '</h2>';

        // Check for critical condition
        if (newHeartRate > 100 || newECGValue > 120 || newSystolicPressure > 140 || newDiastolicPressure > 90) {
            document.getElementById('critical-condition').textContent = "Critical condition: CRITICAL!";
            document.getElementById('critical-condition').style.color = "white"; // Change text color to red
        } else {
            document.getElementById('critical-condition').textContent = "Current situation: Normal";
            document.getElementById('critical-condition').style.color = "white"; // Reset text color
        }
    }

    // Update values every second
    setInterval(updateValues, 1000);
</script>
</body>
</html>
