{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patient List</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #e74c3c;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
      }

      .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
      }

      header {
        background-color: #3498db;
        color: white;
        padding: 20px 0;
        text-align: center;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
      }

      h1 {
        margin: 0;
      }

      #search-form {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #search-input {
        padding: 10px;
        width: 300px;
        border-radius: 5px;
        border: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      button {
        padding: 10px 20px;
        background-color: #3498db;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      button:hover {
        background-color: #024572;
      }

      /* Add these styles to your existing styles.css */

      .patient-list {
        margin-top: 100px; /* Adjust margin to accommodate fixed header */
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .patient {
        background-color: #fff;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s, transform 0.3s;
      }

      .patient:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
      }

      .patient h2 {
        margin-top: 0;
        margin-bottom: 10px;
        color: #333;
        font-size: 20px;
      }

      .patient p {
        margin: 5px 0;
        color: #666;
      }

      .patient a {
        display: inline-block;
        padding: 8px 20px;
        background-color: #3498db;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
      }

      .patient a:hover {
        background-color: #024572;
      }

      .patient {
        display: flex;
        align-items: center; /* Align items vertically */
      }

      .patient-info {
        flex: 1; /* Take remaining space */
      }

      .patient-image {
        margin-left: 20px; /* Add space between patient info and image */
      }

      .patient-image img {
        width: 100px; /* Constant width */
        height: 100px; /* Constant height */
        border-radius: 50%; /* Make image round */
      }
    </style>
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Patient List</h1>
        <!-- <form id="search-form">
                <input type="text" id="search-input" placeholder="Search for patients...">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form> -->
      </div>
    </header>
    <div class="container">
      <div class="patient-list">
        {% for patient in patients %}
        <div class="patient">
          <div class="patient-info">
            <h2>{{ patient.patientName }}</h2>
            <p><strong>Age:</strong> {{ patient.patientAge }}</p>
            <p><strong>Gender:</strong> {{ patient.patientSex }}</p>
            <a href="{% url 'patient_detail' patient.patientID %}"
              >View Details</a
            >
          </div>
          <div class="patient-image">
            {% if patient.patientSex == 'male' %}
            <img
              src="https://cdn-icons-png.freepik.com/512/145/145867.png"
              alt="Male Patient Image"
            />
            {% else %}
            <img
              src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT1RzmddHmBLMiETw5mhP48xBFI1KEop5qlVFjQPNO39P1TRr0K"
              alt="Female Patient Image"
            />
            {% endif %}
          </div>
        </div>
        {% endfor %}
        <!-- Patient list will be displayed here -->
      </div>
    </div>
  </body>
</html>
